<footer id="footer"  data-theme="dark">
    <div class="top">
		<div class="left" module="Layout_footer">
        	<div class="logo"><a href="/"><img src="/saeroun/img/f_logo.svg"></a></div>
            <div class="info">
            	<ul>
                	<li>
                        <h2>Tel</h2>
                        <p>{$phone}</p>
                    </li>
                	<li>
                        <h2>Address</h2>
                        <p>{$mall_addr1} {$mall_addr2}</p>
                    </li>
                	<li module="Layout_Info">
                        <h2>E-mail</h2>
                        <p>help@herzion.com</p>
                    </li>
                </ul>
            </div>
		</div>
		<div class="right">
        	<ul>
            	<li><a href="/">Home</a></li>
            	<li><a href="">Product</a></li>
            	<li><a href="">Technology</a></li>
            	<li><a href="">Contact</a></li>
            	<li><a href="">Support</a></li>
            </ul>
        </div>
    </div>
    <div class="btm">
		<div class="copyright">
			ⓒ 2024 by Aribio. All Rights Reserved.
		</div>
        <div class="logo"><a href="/"><img src="/saeroun/img/f_logo.svg"></a></div>
    </div>
</footer>
<!--#ez="1/8"-->